table, th, td {
    border: 1px solid rgb(181, 183, 192);
    padding: 8px;
}

table{
    border: 2px solid rgb(105, 108, 121);
    padding: 60px;
    background-color: ivory;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    table-layout: fixed;
    width: 70%;
}

button {
    align-items: center;
    background-color: #2020d6;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #101069;
  }

th {
    background-color: 	#e85625;
    color:white;
}

tr:hover {background-color: #ddd;}

h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(232, 247, 252);
    border: #282c34;
    border-style: ridge;
    border-width: 1.5px;
    width: 70%;
    padding: 1%;
    font-weight: 400;
  }

